@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins';
}

:root {
    --font-titles: 42px;
    --font-sub-titles: 18px;
    --text-color-1: #3A3839;
    --text-color-2: #2575FC;
    --text-color-3: #FFFFFF;
    --text-color-4: #393939;
    --bg-color-1: #F4F4F4;
    --bg-color-2: #2575FC;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    overscroll-behavior-y: none;
    transition-duration: 400ms;
    transition-property: color, background-color;
    transition-timing-function: ease-out;
}


.animation {
    animation: pulsar 1.5s infinite;
}

@keyframes pulsar {
    0% {
        transform: scale();
    }

    70% {
        transform: scale();
        box-shadow: 0 0 0 50px rgba(69, 152, 27, 0);
    }

    100% {
        transform: scale();
        box-shadow: 0 0 0 0 rgba(69, 152, 27, 0);
    }
}

.area_whatsapp {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.area_whatsapp a {
    height: 68px;
}

.area_whatsapp img {
    width: 100%;
    max-width: 68px;
    height: 68px;
    transition: background, padding 400ms ease-in-out;
    box-shadow: 0 0 0 0 #03BF65;
    border-radius: 200px;
}

.area_whatsapp img:hover {
    animation: pulsar;
}

.color-1 h2 {
    transition-duration: 400ms;
    transition-property: color;
    transition-timing-function: ease-out;
}

.color-2 p {
    transition-duration: 400ms;
    transition-property: color;
    transition-timing-function: ease-out;
}

.color-texts {
    transition-duration: 400ms;
    transition-property: color;
    transition-timing-function: ease-out;
}

a {
    max-width: max-content;
    text-decoration: none;
}

h1,
h2,
p {
    margin: 0px;
}

[data-animation] {
    opacity: 0;
    transition: all 200ms ease-in;
}

[data-delay-1] {
    transition-delay: 200ms;
}

[data-delay-2] {
    transition-delay: 300ms;
}

[data-delay-3] {
    transition-delay: 400ms;
}

[data-delay-4] {
    transition-delay: 500ms;
}

[data-animation="down"] {
    transform: translate3d(0, 20px, 0);
}

[data-animation="left"] {
    transform: translate3d(-20px, 0, 0);
}

[data-animation="right"] {
    transform: translate3d(20px, 0, 0);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}


/*Menu*/

header {
    width: 100%;
    position: relative;
    z-index: 1;
}

.menu_open {
    display: none;
}

.close {
    display: none;
}

.menu_mobile {
    display: none;
}

.container_menu {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    background: rgba(201, 234, 254, 0.8);
    backdrop-filter: blur(10px);
}

.container_menu_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.area_menu a {
    display: flex;
}

nav {
    width: 100%;
    max-width: max-content;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: max-content;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.btn_menu {
    border-radius: 8px;
    border: 0.5px solid #F4F4F4;
    background: #2575FC;
    box-shadow: 0px 0px 25px -8px rgba(44, 124, 236, 1);
    padding: 8px 15px;
    transition: all ease 200ms;
    transform: scale3d(1, 1, 1);
}

.btn_menu h2 {
    color: #FEFEFE;
    font-size: var(--font-sub-titles);
    font-weight: 600;
    letter-spacing: 0.18px;
    text-rendering: optimizeLegibility;
}

.btn_menu:hover {
    transform: scale3d(1.06, 1.06, 1.06);
}

/*Home*/

#home {
    background: linear-gradient(180deg, rgba(201, 234, 254, 1) -13.82%, rgba(241, 241, 241, 0.00) 90.71%);
}

#home_lp {
    background-image: url(../img/bg_home_lp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 740px;
}

.container_home {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 0px 40px 0px;
}

.container_home_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1280px;
}

.area_home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    width: 100%;
}

.area_texts_home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 540px;
}

.title_home h2 {
    color: #222;
    font-size: var(--font-titles);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.42px;
}

.title_home h2 b {
    color: #2575FC;
    font-weight: 700;
}

.sub_title_home p {
    color: var(--text-color-4);
    font-size: var(--font-sub-titles);
    font-weight: 400;
    line-height: 144%;
    letter-spacing: 0.18px;
}


.title_home_lp h2 {
    color: #FFFFFF;
    font-size: var(--font-titles);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.42px;
}

.title_home_lp h2 b {
    color: #2575FC;
    font-weight: 700;
}

.sub_title_home_lp p {
    color: #FFFFFF;
    font-size: var(--font-sub-titles);
    font-weight: 400;
    line-height: 144%;
    letter-spacing: 0.18px;
}

.home_bg {
    max-width: max-content;
    width: 100%;
}

#email_home {
    display: flex;
    gap: 20px;
    border-radius: 10px;
    background: linear-gradient(98deg, rgba(86, 172, 222, 0.30) -75.86%, rgba(71, 171, 228, 0.00) 219.5%);
    padding: 10px;
    max-width: max-content;
}


#email_home_lp {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background: linear-gradient(98deg, rgba(86, 172, 222, 0.30) -75.86%, rgba(71, 171, 228, 0.00) 219.5%);
    padding: 10px;
    max-width: 400px;
}


.email,
.nome,
.whatsapp {
    border-radius: 5px;
    border: 0.661px solid #F4F4F4;
    background: #FFF;
    box-shadow: 0px 13.21117px 26.42234px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 10px;
    outline: none;
    width: 100%;
    max-width: 380px;
    color: #9a9a9a;
    font-size: var(--font-sub-titles);
    font-weight: 300;
    letter-spacing: 0.18px;
}

.email::placeholder,
.nome::placeholder,
.whatsapp::placeholder {
    color: #9a9a9a;
    font-size: var(--font-sub-titles);
    font-weight: 300;
    letter-spacing: 0.18px;
}

.enviar {
    border-radius: 8px;
    border: 0.661px solid #F4F4F4;
    background: #71c660;
    box-shadow: 0px 13.21117px 26.42234px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 20px;
    color: #FEFEFE;
    font-size: var(--font-sub-titles);
    font-weight: 600;
    letter-spacing: 0.18px;
    cursor: pointer;
}

.area_icones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1280px;
    padding: 40px 0px 0px 0px;
}

.icones_home {
    border-radius: 6px;
    border: 0.661px solid #F4F4F4;
    background: #FFF;
    box-shadow: 0px 13.21117px 26.42234px 0px rgba(0, 0, 0, 0.06);
    width: 180px;
    height: 130px;
    transition: all ease 200ms;
}

.icones_home:hover {
    background: #2575FC;
}

.icones_home:hover>.icones_home_int svg path {
    fill: #FFFFFF;
}

.icones_home:hover>.icones_home_int .title_icones_home h2 {
    color: #FFFFFF;
}

.icones_home_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.title_icones_home h2 {
    color: #42454A;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
}

/*Controle*/
.container_controle {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 60px 0px;
}

.container_controle_int {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(11, 42, 52, 0.03);
    width: 100%;
}

.area_controle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    width: 100%;
    height: 100%;
}

.area_texts_controle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 580px;
}

@keyframes texts_animations {
    0% {
        translate: -40vh 0;
        opacity: 0;
    }

    100% {
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes img_animations {
    0% {
        translate: 0 80vh;
        opacity: 0;
    }

    100% {
        translate: 0 0;
        opacity: 1;
    }
}

.title_controle h2 {
    color: var(--text-color-1);
    font-size: 34px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.42px;
}
/*
.animation_texts {
    animation: texts_animations 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
}*/

.title_controle h2 b {
    color: #2575FC;
    font-weight: 700;
}

.sub_title_controle p {
    color: var(--text-color-4);
    font-size: var(--font-sub-titles);
    font-weight: 300;
    line-height: 144%;
    letter-spacing: 0.18px;
}

.info_controle p {
    color: var(--text-color-4);
    font-size: var(--font-sub-titles);
    font-weight: 500;
    line-height: 144%;
    letter-spacing: 0.18px;
}

.controle {
    max-width: max-content;
    width: 100%;
    height: auto;
    margin-left: -100px;
    z-index: -1;
    position: relative;
    /*animation: img_animations 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 60%;*/
}

.btn_lead {
    border-radius: 8px;
    border: 0.5px solid #F4F4F4;
    background: #2575FC;
    box-shadow: 0px 0px 25px -8px rgba(44, 124, 236, 1);
    padding: 8px 15px;
    transition: all ease 200ms;
    transform: scale3d(1, 1, 1);
}

.btn_lead:hover {
    transform: scale3d(1.06, 1.06, 1.06);
}

.btn_lead h2 {
    color: #FEFEFE;
    font-size: var(--font-sub-titles);
    font-weight: 600;
    letter-spacing: 0.18px;
}

/*
.area_box_controle {
    display: flex;
    width: 100%;
    max-width: 900px;
    height: 100%;
    position: relative;
}

.box_controle {
    position: absolute;
    width: 420px;
    height: 260px;
    top: 0px;
    left: 0px;
    background: #F5F5F5;
    box-shadow: 28px 100px 60px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
    transform: matrix(0.87, 0.5, -0.87, 0.5, 0, 0);
}

.box_controle_2 {
    position: absolute;
    width: 420px;
    height: 260px;
    top: -144px;
    left: 233px;
    background: #F5F5F5;
    box-shadow: 28px 100px 60px rgba(0, 0, 0, 0.01);
    border-radius: 15px;
    transform: matrix(0.87, 0.5, -0.87, 0.5, 0, 0);
}*/

/*Cards*/
.container_cards {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 20px 0px;
}

.container_cards_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1280px;
}

.title_cards h2 {
    color: var(--text-color-1);
    font-size: 34px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.6px;
}

.area_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

@keyframes cards_animations {
    0% {
        translate: 0 40vh;
        opacity: 0;
    }

    100% {
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes cards_animations2 {
    0% {
        translate: 0 60vh;
        opacity: 0;
    }

    100% {
        translate: 0 0;
        opacity: 1;
    }
}

@keyframes cards_animations3 {
    0% {
        translate: 0 80vh;
        opacity: 0;
    }

    100% {
        translate: 0 0;
        opacity: 1;
    }
}
/*
.cards_bg1 {
    animation: cards_animations 1ms ease-in-out;
    animation-timeline: scroll();
    animation-range: cover 0% cover 40%;
}

.cards_bg2 {
    animation: cards_animations2 1ms ease-in-out;
    animation-timeline: scroll();
    animation-range: cover 0% cover 40%;
}

.cards_bg3 {
    animation: cards_animations3 1ms ease-in-out;
    animation-timeline: scroll();
    animation-range: cover 0% cover 40%;
}*/

.cards_section {
    border-radius: 8px;
    border: 0.6px solid #F4F4F4;
    /*background-color: var(--bg-color-2);*/
    box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.06);
    max-width: 358px;
    height: 290px;
    width: 100%;
    padding: 40px 20px;
    position: relative;
    z-index: 0;
}

.cards_section_lp {
    border-radius: 8px;
    border: 0.6px solid #F4F4F4;
    background-color: var(--bg-color-2);
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.04);
    max-width: 340px;
    height: 300px;
    width: 100%;
    padding: 30px 15px 30px 15px;
}

.area_sub_titles_lp {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*
.cards_section:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}*/

/*
.cards_section:hover>.cards_section_int .title_cards_section h2 {
    color: var(--text-color-2);
}

.cards_section:hover>.cards_section_int .sub_title_cards_section p {
    color: var(--text-color-2);
}

.cards_section:hover>.cards_section_int svg path {
    fill: var(--text-color-2);
}*/

.cards_section_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 100%;
    max-width: max-content;
}

.cards_section_int svg path {
    fill: #2575FC;
}

.title_cards_section h2 {
    color: var(--text-color-1);
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.36px;
}

.sub_title_cards_section p {
    color: var(--text-color-1);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 174%;
    letter-spacing: 0.36px;
}


/*Compativel*/

.container_compativel {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_compativel_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    position: relative;
}

.box_blur_1 {
    position: absolute;
    border-radius: 400px;
    background: #2575FC;
    filter: blur(350px);
    width: 400px;
    height: 400px;
    right: 0px;
    top: 0px;
    z-index: -1;
}

.box_blur_2 {
    position: absolute;
    border-radius: 400px;
    background: #2575FC;
    filter: blur(350px);
    width: 400px;
    height: 400px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

.area_compativel_total {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 60px;
}

.area_compativel {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 40px;
    width: 100%;
}

.area_compativel_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 40px;
    width: 100%;
}

.sistemas_solucoes {
    max-width: max-content;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.area_texts_compativel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.title_compativel h2 {
    color: var(--text-color-1);
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.6px;
}

.title_compativel h2 b {
    color: var(--text-color-2);
    font-weight: 700;
}

.sub_title_compativel p {
    color: var(--text-color-4);
    font-size: var(--font-sub-titles);
    font-weight: 300;
    line-height: 174%;
    letter-spacing: 0.36px;
}


.sub_title_compativel p b {
    font-weight: 500;
}

/*planos*/
.container_planos {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 80px 0px;
}

.container_planos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1300px;
}

.title_planos_container h2 {
    color: var(--text-color-1);
    font-size: var(--font-titles);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.42px;
    text-align: center;
}

.title_planos_container h2 b {
    color: var(--text-color-2);
    font-weight: 700;
}

.area_tempo_planos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 38px;
    background: #F9F9F9;
    box-shadow: 12px -3px 25px -7px rgba(0, 0, 0, 0.25) inset;
    width: 100%;
    max-width: 300px;
    height: 40px;
    padding: 10px 0px;
}

.plano_anual {
    max-width: max-content;
    width: 100%;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #2575FC;
    cursor: pointer;
    transition: all ease 200ms;
}

.plano_anual.selected {
    transform: scale3d(1.1, 1.1, 1.1);
    background-color: #07c307;
}

.plano_anual:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.plano_anual h2 {
    font-weight: var(--font-weight-700);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--text-color-3);
    margin: 0px;
}

.area_planos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 40px;
    width: 100%;
    margin-top: 10px;
}

.card_planos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: 260px;
    padding: 30px 20px;
    border: 1px solid #5a5a5a;
    /*background:  var(--bg-color-2);*/
    box-shadow: 0px 13.21117px 26.42234px 0px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    transition: all ease 200ms;
    transform: scale3d(1, 1, 1);
}

.card_planos:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}

.card_planos_int {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}

.area_text_planos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title_planos h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 124%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-color-1);
    margin: 0px;
}

.sub_title_planos p {
    font-weight: 500;
    font-size: 16px;
    line-height: 124%;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--text-color-1);
    margin: 0px;
}

.area_precos_planos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.preco_del del {
    color: var(--text-color-1);
    font-size: 15px;
}

.preco_plano h2 {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--text-color-1);
    margin: 0px;
}

.area_btn_planos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.btn_planos {
    border-radius: 8px;
    border: 0.5px solid var(--text-color-3);
    background: #2575FC;
    box-shadow: 0px 0px 25px -8px rgba(44, 124, 236, 1);
    padding: 8px 15px;
    transition: all ease 200ms;
    transform: scale3d(1, 1, 1);
    transition: all ease 200ms;
}

.btn_planos:hover {
    transform: scale3d(1.08, 1.08, 1.08);
}

.btn_planos img {
    max-width: 25px;
    width: 100%;
}

.btn_planos h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 124%;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--text-color-3);
    margin: 0px;
}

/*Container notebook*/
.container_notebook {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_notebook_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    border-radius: 23px;
    background: radial-gradient(140% 80% at -30% 60%, rgba(1, 43, 56, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%), radial-gradient(174.87% 58.05% at 11.23% 134.58%, rgba(1, 49, 65, 0.90) 0%, rgba(0, 0, 0, 0.00) 100%), #02A6DC;
}

.area_notebook {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.notebook_bg {
    margin-top: -80px;
    max-width: 700px;
    height: auto;
    width: 100%;
}

#email_footer {
    display: flex;
    gap: 20px;
    border-radius: 10px;
    background: #FFFFFF;
    padding: 10px;
    max-width: max-content;
}

.email_footer_text {
    border-radius: 5px;
    background: #FFF;
    padding: 10px 10px;
    outline: none;
    width: 100%;
    max-width: 380px;
    color: #9a9a9a;
    font-size: var(--font-sub-titles);
    font-weight: 300;
    letter-spacing: 0.18px;
    outline: none;
    border: none;
}

.area_form_texts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 440px;
}

.title_notebook_bg h2 {
    color: #FFF;
    font-size: var(--font-titles);
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.8px;
}

/*Footer*/

footer {
    width: 100%;
    background: #3A3839;
    padding: 40px 0px 40px 0px;
}

.container_footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.area_logo_footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 420px;
}

.logo_footer {
    max-width: max-content;
    width: 100%;
}

.sub_title_footer p {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}


.area_infos_footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 250px;
}

.title_info_footer h2 {
    color: #56ACDE;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
}

.infos_footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infos_footer a {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
}

.info_footer p {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
}

@media(max-width: 1024px) {

    header {
        position: fixed;
        background: rgba(201, 234, 254, 0.8);
        backdrop-filter: blur(10px);
    }

    .menu_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        padding: 10px 20px 10px 20px;

    }

    .container_home {
        padding: 80px 0px 40px 0px;
    }


    @keyframes move {
        0% {
            right: -100%;

        }

        100% {
            right: 0px;
        }

    }

    .menu_open {
        display: flex;
    }

    .menu_open rect {
        fill: #2575FC;
    }

    .close {
        display: flex;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #container_menu {
        display: none;
        width: 100%;
        height: 100vh;
        opacity: 1;
        background: linear-gradient(180deg, rgba(201, 234, 254, 0.8) -13.82%, rgba(241, 241, 241, 0.8) 90.71%);
        position: fixed;
        top: 0px;
        z-index: 99;
        transition: all ease 400ms;
    }

    .container_menu {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .container_menu_int {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .area_menu {
        flex-direction: column;
        width: 100%;
    }

    .area_close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 40px;
    }

    .area_close_int {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1220px;
    }

    .close {
        cursor: pointer;
        max-width: max-content;
        width: 100%;
    }

    .area_menu nav {
        width: 100%;
    }

    .area_menu nav ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    .logo_desktop {
        display: none;
    }

    nav ul li a {
        font-size: 30px;
    }

    .area_menu nav ul li a {
        color: #2E3033;
        font-size: 28px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -1.6px;
    }

    :root {
        --font-titles: 32px;
        --font-sub-titles: 18px;
    }

    .area_home {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .area_texts_home {
        max-width: 620px;
    }

    .area_icones {
        justify-content: center;
        padding: 0px 20px;
        width: auto;
    }

    /*Controle*/
    .area_controle {
        flex-direction: column;
        gap: 20px;
        padding: 0px 20px;
    }

    .title_controle h2 {
        font-size: 28px;
    }

    /*Compativel*/
    .area_compativel {
        flex-direction: column;
    }

    .area_compativel_2 {
        flex-direction: column-reverse;
    }

    .area_texts_compativel {
        max-width: 540px;
    }

    .title_compativel h2 {
        font-size: 26px;
    }

    /*Planos*/
    .container_planos {
        padding: 0px 0px 40px 0px;
    }

    .preco_plano h2 {
        font-size: 30px;
    }

    .preco_del del {
        font-size: 14px;
    }

    .area_precos_planos {
        gap: 5px;
    }

    .card_planos_int {
        justify-content: flex-start;
        gap: 20px;
    }

    .area_footer {
        padding: 0px 20px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .area_infos_footer {
        gap: 20px;
        max-width: 415px;
    }

    .sub_title_footer p {
        font-size: 16px;
    }

    .title_info_footer h2 {
        font-size: 20px;
    }

    .infos_footer a {
        font-size: 16px;
    }

    .info_footer p {
        font-size: 16px;
    }

    .container_notebook {
        padding: 40px 0px 40px 0px;
    }

    .area_notebook {
        flex-direction: column;
        padding: 20px 0px;
    }

    .notebook_bg {
        margin-top: 0px;
    }

    .area_form_texts {
        gap: 20px;
        align-items: center;
    }

    #email_footer {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: calc(100% - 40px);
        gap: 15px;
    }

    .enviar {
        width: 100%;
    }
}


@media(max-width: 480px) {
    :root {
        --font-titles: 28px;
        --font-sub-titles: 16px;
    }

    .area_home {
        padding: 0px 20px;
        width: auto;
    }

    .container_home {
        padding: 100px 0px 0px 0px;
    }

    .area_texts_controle {
        gap: 10px;
    }

    .title_controle h2 {
        font-size: 22px;
    }

    /*Compativel*/
    .area_compativel_total {
        padding: 0px 20px;
        gap: 40px;
    }

    .title_compativel h2 {
        font-size: 22px;
    }

    .container_planos_int {
        padding: 0px 20px;
    }

    .controle {
        margin-left: 0px;
        z-index: auto;
    }

    /*.animation_texts {
        animation: texts_animations 1ms ease-in-out;
        animation-timeline: view();
        animation-range: cover 0% cover 20%;
    }

    .controle {
        animation-range: cover 0% cover 30%;
    }*/

    .area_cards {
        padding: 0px 20px;
        gap: 20px;
    }

    .cards_section {
        height: auto;
    }

    .sub_title_cards_section p {
        font-size: 16px;
        line-height: 120%;
    }

    .box_blur_1 {
        width: 350px;
        height: 350px;
    }

    .box_blur_2 {
        width: 350px;
        height: 350px;
    }

    #email_home {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: calc(100% - 20px);
        gap: 15px;
    }

    .email {
        max-width: calc(100% - 20px);
    }

    .enviar {
        width: 100%;
    }

    .icones_home {
        width: 150px;
        height: 120px;
    }

    .area_whatsapp img {
        width: 100%;
        max-width: 60px;
        height: 60px;
    }

    .area_whatsapp a {
        height: 60px;
    }

    .title_cards h2 {
        font-size: 28px;
    }

    .container_notebook {
        padding: 0px 0px 40px 0px;
    }

    .container_notebook_int {
        border-radius: 0px;
    }

    .area_notebook {
        gap: 20px;
    }

    .area_notebook {
        padding: 20px;
    }

    .area_form_texts {
        gap: 20px;
        align-items: center;
        width: auto;
    }

    .cards_bg1 {
        animation-range: cover 0% cover 30%;
    }

    .cards_bg2 {
        animation-range: cover 0% cover 30%;
    }

    .cards_bg3 {
        animation-range: cover 0% cover 30%;
    }

}

@media(max-width: 375px) {
    :root {
        --font-titles: 26px;
        --font-sub-titles: 16px;
    }
}